@using ExpensesWebApp.Enums;
@model IEnumerable<Expense>
@{
    ViewData["Title"] = ViewData["groupName"];
}
<h1>@ViewData["groupName"]</h1>
<p>Veja aqui as despesas desse grupo</p>

<div class="d-flex justify-content-between mb-2">
    <a href="@Url.Action("Create", "Expense", new {groupId = ViewData["groupId"]})" class="btn btn-primary">
        <i class="bi bi-plus"></i>&nbsp;Adicionar nova despesa
    </a>
    <a asp-controller="Category" asp-action="Index" class="btn btn-dark">Consultar categorias existentes</a>
</div>
<div class="flex align-content-center justify-content-center">
    @if (Model.Count() == 0)
    {
        <div class="d-flex align-items-center justify-content-center border" style="height:200px">
            <h2 class="text-danger">Esse grupo ainda não possui nenhuma despesa</h2>
        </div>
    }
    else
    {
        <table class="table table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Nome da despesa</th>
                    <th>Valor</th>
                    <th>Categoria</th>
                    <th>Data</th>
                    @* <th>Recorrente</th> *@
                    <th>Status</th>
                    <th style="width:30%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model)
                {
                    <tr>
                        <td>
                            @expense.Name
                        </td>
                        <td style="color:green">
                            <span class="badge bg-success">@expense.Value.ToString("C")</span>
                        </td>

                        @if (expense.CategoryId == null)
                        {
                            <td>Nenhuma</td>
                        }
                        else
                        {

                            <td>
                                @expense?.Category?.Name
                            </td>
                        }
                        <td>
                            @expense!.Date.ToString("dd/MM/yyyy")
                        </td>
                        @{
                            bool paga = expense.Status == ExpenseStatus.Paid;
                            string disabled = paga? "disabled" : "";
                        }
                        <td>
                            @if (!paga)
                            {
                                <span><i class="bi bi-clock-history"></i>&nbsp;Pendente </span>
                            }
                            else
                            {
                                <span>Paga <i class="bi bi-check"></i></span>
                            }

                        </td>
                        @* <td>
                @{ String text = expense.Recurrent ? "Sim" : "Não"; }
                @text
                </td> *@
                        <td>
                            <div class="d-flex flex-row justify-content-end gap-1">
                                <button @disabled onclick="changeStatus(@expense.Id)" class="btn btn-success">Pagar</button>
                                <a asp-action="Edit" asp-controller="Expense" asp-route-id="@expense.Id" class="btn btn-dark">
                                    <i class="bi bi-pencil-square"></i>&nbsp;Editar
                                </a>
                                <form asp-controller="Expense" asp-action="Delete">
                                    <input type="hidden" name="id" value="@expense.Id" />
                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-trash3"></i>&nbsp;Excluir
                                    </button>
                                </form>
                            </div>
                            @* <a class="btn btn-danger m-1">Excluir</a> *@
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex align-items-center">
            @{
                decimal totalValue = ViewBag.TotalValue;
            }
            <h4 class="text-dark">Valor total: <span class="badge text-bg-success">@totalValue.ToString("C")</span></h4>
        </div>
    }
</div>

@section Scripts {

    <script>

        function changeStatus(expenseId) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeStatus", "Expense")",
                dataType: "json",
                data: {id: expenseId},
                success: (response) => {
                    console.log(response.statusText);
                    location.reload();
                },
                error: (req, status, error) => {
                    console.log(status);
                }
            });
        }


    </script>

}
