@model ExpensesWebApp.Models.Expense

@{
    ViewData["Title"] = "Adicionar despesa";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Value" class="control-label"></label>
                <input type="number" step="0.01" asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Recurrent" /> @Html.DisplayNameFor(model => model.Recurrent)
                </label>
            </div>
            @* <div class="form-group">
            <label asp-for="PeriodInDays" class="control-label"></label>
            <input asp-for="PeriodInDays" class="form-control" />
            <span asp-validation-for="PeriodInDays" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="BillingDay" class="control-label"></label>
            <input asp-for="BillingDay" class="form-control" />
            <span asp-validation-for="BillingDay" class="text-danger"></span>
            </div> *@
            <div class="form-group mb-2">
                <label asp-for="Date" class="control-label"></label>
                <div class="d-flex gap-2">
                    <input id="date" asp-for="Date" type="date" class="form-control" />
                    <a onclick="useCurrentDate()" style="width:200px" class="btn btn-primary">Usar data atual</a>
                </div>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CategoryId" class="control-label">Categoria</label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="@null" selected>Nenhuma</option>
                    @if (ViewBag.categories != null)
                    {
                        @foreach (var category in ViewBag.categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <input hidden asp-for="GroupId" value="@ViewData["groupId"]" />
            <div class="form-group mb-2">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-controller="Group" asp-action="Details" asp-route-id="@ViewData["groupId"]">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function useCurrentDate() {

            var dateObj = new Date();
            var currentDate = dateObj.toISOString().split('T')[0];
            var date = document.querySelector("#date");
            date.value = currentDate;
            
        }
    </script>
}
